fastapi[all]
tensorflow==2.15.0
transformers
faiss-cpu
Pillow
numpy
torch
torchvision
psycopg2-binary
uvicorn
langchain==0.3.7
sentence-transformers==3.2.1
langchain_community==0.3.5
pdfminer.six
python-docx
requests
huggingface-hub
opencv-python
python-dotenv